<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>http://172.25.9.240:8888/zywz/upload/app/1.0.0/12348HT.ipa</string>
                    </dict>

                    <!-- display-image: the icon to display during download. -->
                    <dict>
                        <key>kind</key>
                        <string>display-image</string>
                        <!-- optional. icon needs shine effect applied. -->
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>http://www.12348.gov.cn/sfbMobile/ios/phone/icon.png</string>
                    </dict>
                    
                    <!-- full-size-image: the large 512×512 icon used by iTunes. -->
                    <dict>
                        <key>kind</key>
                        <string>full-size-image</string>
                        <key>needs-shine</key>
                        <true/>
                        <key>url</key>
                        <string>http://www.12348.gov.cn/sfbMobile/ios/phone/itunes-icon.png</string>
                    </dict>                    
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>H507F229C</string>
                    <key>bundle-version</key>
                    <string>1.0.0</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>12348河南法网</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>